body {
    background-image: url("pics/image1.png");
    background-repeat: no-repeat;
    background-size: auto;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
    font-style: italic;
}

header:hover {
    color:#190b8f;
}

p {
    color: white;
    margin: 0.5em;
}
 .info {
     width: 900px;
     position: absolute;
     top: 800px;
     left: 550px;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
 }

 #title {
     font-size: 35px;
 }

 #statement {
     font-size: 25px;
 }